{% extends "dormitory/layout.html" %} 
{% block body %}
<title>เพิ่มหอพัก</title>
<style>
    p{
        font-family: "Prompt", sans-serif;    
    }
    .p2 {
        font-family: "Prompt", sans-serif;
        font-size: 1.2em;
    }   
</style>
<br>
<div style="text-align: center;">
    <h2><b class="p2">เพิ่มหอพัก</b></h2>
    <br>
    <br>
    <br>
</div>
    <form method="POST" action="{% url 'dormitory:create_dormitory' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-group" style="width: 25em; margin-left: 5em;">
                        <label><b class="p2">ชื่อหอพัก</b></label>
                        <p><input type="text" name="title" class="form-control" maxlength="100" placeholder="Enter dormitory title" required/></p>
                        <br>
                    </div>
                    {%if fail_title%} 
                        <div style="color: tomato; margin-left: 5em;"><p class="p2"><b>{{fail_title}}</b></p></div><br> 
                    {%endif%}
                    <div class="form-group" style="width: 25em; margin-left: 5em;">
                        <label><b class="p2">คำอธิบายสั้น ๆ</b></label>
                        <p><input type="text" name="desc" class="form-control" maxlength="200" placeholder="Enter dormitory description" required/></p>
                    </div>
                    <br>
                    <div class="form-group" style="width: 25em; margin-left: 5em;">
                        <label><b class="p2">รูปภาพ</b></label>
                        <div>
                            <input type="file" name="icon_d" class="form-control"required/>
                        </div>
                    </div>
                    <div style="margin-left: 5em;">
                        <br>
                        <input type="submit" value ="ยืนยัน" class="btn button1 p2"></input>
                    </div>
                    <br>
                </div>
                    <br>
                    <br>
                <div class="col" style="margin-left: 5em;"> 
                    <p class="p2"><b>เนื้อหา : </b>{{ form.Content }}</p>
                </div>
            </div>
        </div>
    </form>

{{ form.media }}
{% endblock %}