{% extends "dormitory/layout.html" %} 

{% block body %}
Hello create dorm

<form method="POST" action="{% url 'dormitory:create_dormitory' %}" enctype="multipart/form-data">

    {% csrf_token %}
    {%if fail_title%} 
        <div style="color: red;"><b>{{fail_title}}</b></div><br> 
    {%endif%}
    <input type="text" name="title" placeholder="Enter dormitory title" required/></input>
    <br>
    <br>
    <input type="text" name="desc" placeholder="Enter dormitory description" required/></input>
    <br>
    <input type="file" name="icon_d">
    <br> 
    {{ form }}

    <input type="submit" value ="Confirm" class="button"></input>
</form>

{{ form.media }}
{% endblock %}