{% extends "dormitory/layout.html" %}
{% load cloudinary %}
{% block body %}
<title>หอพัก &#127968;</title>
<style>
    .detail {
        text-align: left;
        width: 70%;
        
        box-sizing: border-box;
        display: inline-block;
        
        transform: translateY(30%);
    }

    .border {
        border-style: solid;
        border: thin black;
    }

    div.figure {
        float: 20%;
        width: 25%;
        border: thin silver solid;
        margin: 1em;
        padding: 0.5em;
    }

    div.figure p {
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        display: inline;
    }

    img.scaled {
        width: 100%;
        height: 230px;
    }
    .padding {
        padding: 1cm;
    }

    .center {
        text-align: center;
    }
    .p2 {
    font-family: "Prompt", sans-serif;
    font-size: 1em;
    }
    .p3{
    text-align: left;
    font-family: "Prompt", sans-serif;
    font-size: 2em;
    }
    .p3:hover {
        color: #aa98e7;
    }
    .p4 {
    font-family: "Prompt", sans-serif;
    font-size: 1.2em;
    }

</style>
<!--Dormitory list-->
<h1 class="padding" style="margin-left: 2em;"><p class="p2"><b>หอพัก &#128226;</b></p></h1>

    <div style="margin-left: 15%;margin-right: 8%; margin-top: 1em; margin-bottom: 5em;">
        
        {% for dorm in dorm_list%}
            <div>
            <a href="{% url 'dormitory:dormitory' dorm.title %}" style="text-decoration: none;">
            <div class="figure">
                <img class="img-thumbnail scaled" src="{{ dorm.icon.url }}" >
            </div>
            </a>
            
            <div class="detail">
                <a href="{% url 'dormitory:dormitory' dorm.title %}" style="text-decoration: none;">
                <h2 class="active center p3"><b>{{dorm.title}}</b></h2>
                </a>
                <p class="p4">{{ dorm.desc }} </p>
            </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}



