{% extends "dormitory/layout.html" %} 
{% load markdown_tag %}

{% block body %}
<title>{{ dormitory.title }}</title>
<style>
    .p2 {
        font-family: 'Noto Sans Thai', sans-serif;
        font-size: 2em;
    }
    .p3 {
        font-family: "Prompt", sans-serif;
        font-size: 0.9em;
    }
    .p4 {
        font-family: "Prompt", sans-serif;
        font-size: 1.2em;
    }
    .p5 {
        font-family: "Prompt", sans-serif;
        font-size: 1.1em;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .h3:before,
    .h3:after {
        background-color: rgb(211, 211, 211);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 46%;
    }
    .h3:before {
        right: 0.5em;
        margin-left: 1%;
    }
    .h3:after {
        left: 0.5em;
        margin-right: -50%;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Noto Sans Thai', sans-serif;
    }
    .line {
        height: 1px;
        width: 100%;
        background-color: #E0E0E0;
        margin-top: 10px;
    }
    .button5 {
        background-color: white;
        color: black;
        border: 2px solid white;
        padding: 2px 2px;
    }

    .button5:hover {
        background-color: #e2e2e2;
        color: rgb(0, 0, 0);
        border: 2px solid #e2e2e2;
    }
    .button6 {
        background-color: #8878c3;
        color: white;
        border: 2px solid #8878c3;
        padding: 7px 5em;
    }

    .button6:hover {
        background-color: #ccccff;
        color: rgb(0, 0, 0);
        border: 2px solid #ccccff;
    }
    .button7 {
        background-color: #8878c3;
        color: white;
        border: 2px solid #8878c3;
    }

    .button7:hover {
        background-color: #ccccff;
        color: rgb(0, 0, 0);
        border: 2px solid #ccccff;
    }
    *{
        margin: 0;
        padding: 0;
    }
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:fixed;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1.3em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:23px;
    }

    .rate > input:checked ~ label:before {
        content: '🌝';

    }

    .rate:not(:checked) > label:hover:before
    {
        content: '🌝';
    }
    .rate:not(:checked) > label:hover ~ label:before {
        content: '🌝';

    }


    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label:before {
        content: '🌝';
    ;
    }
</style>

<!-- content -->
<div style="margin-left: 25%; margin-right: 25%; margin-bottom: 7em; margin-top: 4em;">
    <h2><b class="p2">{{ dormitory.title }}</b></h2>
            <b class="p5">by {{ dormitory.author.username }}</b>
            <b class="p3" style="float: right;">{{dormitory.date}} &#9203;</b> 
            <br>
            <br>
            <b class="p4">{{dormitory.content | convert_markdown | safe }}</b>

            <br>
            <div style="float: right;">
                <a href="#เขียนรีวิว"><button class="button button5"><b class="p4">&#128073; เขียนรีวิว</b></button></a>
                <!-- Search for thread-->
                <form  action="{% url 'thread:index' %}" method="POST" style="float: right;">
                    {% csrf_token %}
                    <input class="form-control" type="hidden" name="search" value="{{dormitory.title}}">
                    <button class="button button5" type="submit" style="margin-left: 1em;"><b class="p4"> &#128270; ค้นหากระทู้ที่เกี่ยวข้อง</b></button>
                </form>
            </div>
            <br>
            <br>
            <br>

            <!-- review -->
            <h3 class="p3 h3">&#128172;<b> การรีวิว</b></h3>
            {% for reviews in dormitory.reviews.all %}
                <img class="avatar" src="/static/images/avatar.png" style="float:left; margin-right: 1em; margin-top: 0.5em; width: 3em; height: 3em;">
                <b class="p3" style="margin-left: 0.5em;">{{reviews.author}} </b>
                <br>
                {% if reviews.stars == 1 %}
                <span style="font-size: 1.5em;"> &#127773;&#127770;&#127770;&#127770;&#127770;</span>
                {% elif reviews.stars == 2 %}
                    <span style="font-size: 1.5em;"> &#127773;&#127773;&#127770;&#127770;&#127770;</span>
                {% elif reviews.stars == 3 %}
                    <span style="font-size: 1.5em;"> &#127773;&#127773;&#127773;&#127770;&#127770;</span>
                {% elif reviews.stars == 4 %}
                    <span style="font-size: 1.5em;"> &#127773;&#127773;&#127773;&#127773;&#127770;</span>
                {% elif reviews.stars == 5 %}
                <span style="font-size: 1.5em;"> &#127773;&#127773;&#127773;&#127773;&#127773;</span>
                {% endif %}
                <br>
                
                <br>
                <b class="p3" style="float: right; margin-top: -5.5em;" >{{reviews.date}} &#9203;</b>
                
                <h4 >{{reviews.content | convert_markdown | safe }}</h4>
            
                <div style="float: right; margin-top: -2em;">
                    <a href="{% url 'dormitory:report_review' reviews.id %}"><button class="button button5">&#128681; <b class="p3">report</b></button></a>
                </div>
                <br>

                <div class="line"></div>
                <br>
            {% endfor %}

            {% if request.user.is_authenticated %}
            <!-- form -->
            <form method="POST" action="{% url 'dormitory:review_dormitory' dormitory.id%}" enctype="multipart/form-data" id=เขียนรีวิว>
                {% csrf_token %}
                <b class="p5">Rating: </p>
                <div class="rate">
                    <input name="stars" type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">🌚</label>
                    <input name="stars" type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">🌚</label>
                    <input name="stars" type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">🌚</label>
                    <input name="stars" type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">🌚</label>
                    <input name="stars" type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">🌚</label>
                  </div>
                <textarea type="text" name="content" class="form-control" maxlength="500" placeholder="ตอบกลับกระทู้" required></textarea>
                <br>

                <input type="submit" value ="ยืนยัน" class="btn button6 p3"></input>
            </form>
            {% else %}
                <h3 id=เขียนรีวิว style="text-align: center;">&#9997; กรุณา Login เพื่อเขียนรีวิว &#10071;</h3>
            {% endif %}

</div>


{% endblock %}

