{% extends "dormitory/layout.html" %} 
{% load markdown_tag %}

{% block body %}
<title>{{ dormitory.title }}</title>
<style>
    .p2 {
        font-family: 'Noto Sans Thai', sans-serif;
        font-size: 2em;
    }
    .p3 {
        font-family: "Prompt", sans-serif;
        font-size: 0.9em;
    }
    .p4 {
        font-family: "Prompt", sans-serif;
        font-size: 1.2em;
    }
    .p5 {
        font-family: "Prompt", sans-serif;
        font-size: 1.1em;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Noto Sans Thai', sans-serif;
    }
    
</style>

<div style="margin-left: 25%; margin-right: 25%; margin-bottom: 7em; margin-top: 4em;">
    <h2><b class="p2">{{ dormitory.title }}</b></h2>
            <b class="p5">by {{ dormitory.author.username }}</b>
            <b class="p3" style="float: right;">{{dormitory.date}} &#9203;</b> 
            <br>
            <br>
            <b class="p4">{{dormitory.content | convert_markdown | safe }}</b>
</div>


<!-- ปุ่ม Instant Search -->
<form  action="{% url 'thread:index' %}" method="POST">
    {% csrf_token %}
    <input class="form-control me-2" type="hidden" name="search" value="{{dormitory.title}}">
    <button class="btn button3" type="submit" style="margin-left: 25%;  margin-bottom: 7em; ">Search for thread</button>
    
</form>

{% endblock %}

