{% extends "dormitory/layout.html" %}
{% load static %}
{% load cloudinary %}
{% block body %}
<title>หน้าหลัก &#128204;</title>
<style>
    .detail {
        text-align: center;
        width: 20%;
        
        box-sizing: border-box;
        display: inline-block;
        align-items: center;
        transform: translateY(40%);
    }

    .border {
        border-style: solid;
        border: thin black;
    }

    div.figure {
        float: 20%;
        width: 25%;
        border: thin silver solid;
        margin: 1em;
        padding: 0.5em;
    }

    div.figure p {
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        display: inline;
    }

    img.scaled {
        width: 100%;
        height: 230px;
    }
    .padding {
        padding: 1cm;
    }

    .center {
        text-align: center;
    }
    .p2 {
    font-family: "Prompt", sans-serif;
    font-size: 1em;
    }
    .p3{
    font-family: "Prompt", sans-serif;
    font-size: 2em;
    }
    .p3:hover {
        color: #aa98e7;
    }
    .p4 {
    font-family: "Prompt", sans-serif;
    font-size: 1.2em;
    }

</style>
    <h1 class="padding" style="margin-left: 2em;"><p class="p2"><b>&#11088; หอพักยอดนิยม &#11088;</b></p></h1>

    <div style="margin-left: 12%;margin-right: 10%; margin-top: 0.5em;">
        
        {% for dorm in dormitories%}
            
            <a href="{% url 'dormitory:dormitory' dorm.title %}" style="text-decoration: none;">
            <div class="figure">
                {% if dorm.icon %}
                <img class="img-thumbnail scaled" src="{{ dorm.icon.url }}"> 
                {% endif %}
            </div>
            </a>
            
            <div class="detail">
                <a href="{% url 'dormitory:dormitory' dorm.title %}" style="text-decoration: none;">
                <h2 class="active center p3"><b>{{dorm.title}}</b></h2>
                </a>
                <p class="p4">{{ dorm.desc }} </p>
            </div>
        
        {% endfor %}
        
    </div>

    <h1 class="padding" style="margin-left: 2em; margin-top: 2em;"><p class="p2"><b>แผนที่หอพักรอบ ๆ มหาวิทยาลัยธรรมศาสตร์ 🗺️</b></p></h1>

        <div style="margin-left: 23%; display: block;">
            {{ map | safe }}
        </div>
    

    

{% endblock %}