{% extends "dormitory/layout.html" %}
{% load static %}
{% block body %}

<style>
    .detail {
        width: 20%;
        box-sizing: border-box;
        display: inline-block;
        padding: 40px;
        /* background-color: rgb(250, 245, 255); */
    }

    div.figure {
        float: 20%;
        width: 27.5%;
        border: thin silver solid;
        margin: 1em;
        padding: 0.5em;
    }

    div.figure p {
        text-align: center;
        font-style: italic;
        font-size: smaller;
        text-indent: 0;
        display: inline;
    }

    img.scaled {
        width: 100%;
        height: 230px;
    }
    .padding {
        padding: 1cm;
    }

    .center {
        text-align: center;
    }
    .p2 {
    font-family: "Prompt", sans-serif;
    font-size: 1em;
    }
    .p3{
    font-family: "Prompt", sans-serif;
    font-size: 2em;
    }
    .p4 {
    font-family: "Prompt", sans-serif;
    font-size: 1.2em;
    }

</style>
    <h1 class="padding" style="margin-left:1em;"><p class="p2"><b>Top Dormitories</b></p></h1>

    <div style="margin-left: 15em; margin-top: 1em;">
        {% for dorm in dormitories%}
            <div class="figure">
                <p><img style="width: 40em; height: 25em" class="img-thumbnail" src="{{ dorm.icon }}" ></p>
            </div>
            
            <div class="detail">
                <h2 class="center p3"><b>{{dorm.title}}</b></h2>
                <p class="p4">{{ dorm.desc }} </p>
            </div>
        {% endfor %}

    <h1 class="padding" style="margin-left:-5em;"><p class="p2"><b>Dormitory around Thammasat University</b></p></h1>

        <div style="margin-left: 20%;">
            {{ map | safe }}
        </div>
    </div>

    

{% endblock %}