{% extends "thread/layout.html" %} 

{% load markdown_tag %}

{% block body %}
<title>{{thread.header}}</title>

<style>
    .p2 {
        font-family: 'Noto Sans Thai', sans-serif;
        font-size: 1em;
    }
    .p3 {
        font-family: "Prompt", sans-serif;
        font-size: 0.9em;
    }
    .p4 {
        font-family: "Prompt", sans-serif;
        font-size: 1.2em;
    }
    .p5 {
        font-family: "Prompt", sans-serif;
        font-size: 1.1em;
    }
    .p6 {
        font-family: "Prompt", sans-serif;
        font-size: 0.9em;
    }
    .p7 {
        font-family: "Prompt", sans-serif;
        font-size: 1.1em;
    }
    .p7:hover {
        color: #aa98e7;
    }
    .p8 {
        font-family: 'Noto Sans Thai', sans-serif;
        font-size: 1.5em;
    }
    .h3 {
    overflow: hidden;
    text-align: center;
    }
    .h3:before,
    .h3:after {
        background-color: rgb(211, 211, 211);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 100%;
    }
    .h3:before {
        right: 0.5em;
        margin-left: -125%;
    }
    .h3:after {
        left: 0.5em;
        margin-right: -50%;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Noto Sans Thai', sans-serif;
    }
    .line {
        height: 1px;
        width: 100%;
        background-color: #E0E0E0;
        margin-top: 10px;
    }
    .button5 {
        background-color: white;
        color: black;
        border: 2px solid white;
        padding: 2px 2px;
    }

    .button5:hover {
        background-color: #e2e2e2;
        color: rgb(0, 0, 0);
        border: 2px solid #e2e2e2;
    }
    .button6 {
        background-color: #8878c3;
        color: white;
        border: 2px solid #8878c3;
        padding: 7px 5em;
    }

    .button6:hover {
        background-color: #ccccff;
        color: rgb(0, 0, 0);
        border: 2px solid #ccccff;
    }
    #id_content {
    width: 100%;
    height: 100px;
    }

</style>

<script language="javascript">
    function confirm_delete_thread()
{
    var answer = window.confirm("ยืนยันลบกระทู้");
    if(answer)
    {
        alert("ลบกระทู้สำเร็จ");
    }
    return answer;
}
function confirm_delete_sub_thread()
{
    var answer = window.confirm("ยืนยันลบการตอบกลับกระทู้");
    if(answer)
    {
        alert("ลบการตอบกลับกระทู้สำเร็จ");
    }
    return answer;
}
function report_thread()
    {
        var win = window.open("{% url 'thread:report_thread' thread.id %}","popup");
        return false;
    }
function report_sub_thread(val)
    {
        const sub_id = document.getElementById("sub_thread_id_"+val).value;
        var win = window.open(sub_id,"popup");
        return false;
    }
function which_subthread()
{ 
    var subthr_id = document.getElementById("in_subthread_id").value;
    document.getElementById(`subthread_id_${subthr_id}`).focus();
    
}
</script>
<input type="hidden" id="in_subthread_id" value="{{reply_id}}">

<div style="margin-left: 25%; margin-right: 25%; margin-bottom: 13em; margin-top: 4em;">

    <!-- update thread -->
    {% if check_update == 1 %}
    <form method="POST" action="{% url 'thread:update_thread' thread.id %}" enctype="multipart/form-data">
    
        {% csrf_token %}
    
        <div class="container">
            <input type="submit" value ="ยืนยันการแก้ไข" class="btn button1 p5" style="float: right;"></input>
            <b class="p8">ชื่อกระทู้ :</b>
            <p class="p2" style="margin-top: 1em;">{{ form.header }}</p>
            <br>
            <b class="p8">เนื้อหา :</b>
            <p class="p2">{{ form.content }}</p>
        </div>
    </form>
    {{ form.media }}
    <br>
    {% else %}

    <!-- thread -->
    <h2><b class="p2">{{thread.header}}</b></h2>
    <b class="p5">by {{ thread.author.username }}</b>
    <b class="p3" style="float: right;">{{thread.date}} &#9203;
        
    {% if request.user.username == thread.author.username %}
        <a href ="{% url 'thread:delete_thread' thread.id %}" onclick="return confirm_delete_thread()" style="float: right; text-decoration: none; margin-left: 0.5em; margin-top: -0.1em;"><b class="p5">&#128680; ลบ</b></a>
        <a href = "{% url 'thread:update_thread' thread.id %}" style="float: right; text-decoration: none; margin-left: 0.5em; margin-top: -0.1em;"><p class="p5">แก้ไข</p></a>
    {% endif %}
    
    </b>
    <br>
    <br>

    <h3><p class="p4">{{thread.content | convert_markdown | safe }}</p></h3>
    <br>

    <div style="float: right; margin-top: -1.5em;" id ="#report_thread">
        <a href="#ตอบกลับกระทู้"><button class="button button5"><b class="p3">&#128073; ตอบกลับกระทู้</b></button></a>
        <a href="#report_thread" onclick="report_thread()"><button class="button button5">&#128681; <b class="p3">report</b></button></a>
    </div>
    <br>
    {% endif %}
    <h3 class="p6 h3">&#128172; <b>{{thread.number_reply}} การตอบกลับ</b></h3>

    <!-- sub-thread -->
    {% if not thread.reply.all%}
            <br>
            <div style="text-align: center;">
                <b class="p4">ยังไม่มีการตอบกลับ สามารถเขียนการตอบกลับของคุณได้ที่ด้านล่าง &#128071;</b>
            </div>
            <br>
            <div class="line"></div>
            <br>
    {% else %}
        {% for sub_thread in thread.reply.all %}
        <b class="p3">การตอบกลับที่ {{forloop.counter}}</b>
        <br>
        <b class="p3" style="float: right; margin-top: -1.5em;">{{sub_thread.date}} &#9203;
            {% if request.user.username == sub_thread.author.username %}
                <a href="{% url 'thread:delete_reply' sub_thread.id%}" onclick="return confirm_delete_sub_thread()" style="float: right; text-decoration: none; margin-left: 0.5em; margin-top: -0.08em;"><b class="p5">&#128680; ลบ</b></a>
                <a href = "{% url 'thread:update_reply' sub_thread.id%}" style="float: right; text-decoration: none; margin-left: 0.5em; margin-top: -0.08em;"><b class="p5">แก้ไข</b></a>
            {% endif %}
        </b>
        <br>
        <br>
        
        {% if check_update_reply == 1 and sub_thread.id == reply_id %}
        <form method="POST" action="{% url 'thread:update_reply' sub_thread.id %}" enctype="multipart/form-data" id=update_reply>
            {% csrf_token %}
            <textarea id ="subthread_id_{{sub_thread.id}}" value="subthread_id_{{sub_thread.id}}" type="text" name="content" class="form-control" maxlength="500"  required>{{sub_thread.content}}</textarea>
            <br>
            <input type="submit" value ="ยืนยัน" class="btn button6 p3"></input>
        </form>
        {% else %}
            <h4>{{sub_thread.content | convert_markdown | safe | linebreaks}}</h4>
        {% endif %}
        
        <br>

        <img onload="which_subthread()" class="avatar" src="/static/images/avatar.png" style="width: 2em; height: 2em; margin-bottom: 0em;"> 
        <b class="p3">ตอบกลับโดย {{sub_thread.author}} </b>
        <div style="float: right; margin-top: -0.2em;" id = "#report_sub_thread">
            <input type="hidden" value="{% url 'thread:report_subthread' thread.id sub_thread.id %}" id="sub_thread_id_{{sub_thread.id}}">
            <a href="#report_sub_thread" onclick="report_sub_thread({{sub_thread.id}})"><button class="button button5">&#128681; <b class="p3">report</b></button></a>
        </div>
        
        <div class="line"></div>
        {% endfor %}
    {% endif %}
    <br>
    
    <!-- form -->
    {% if check_update_reply != 1 %}
    {% if request.user.is_authenticated %}
        {% if check_update != 1 %}

        <form method="POST" action="{% url 'thread:reply_thread' thread.id%}" enctype="multipart/form-data" id=ตอบกลับกระทู้>
            {% csrf_token %}
            <textarea type="text" name="content" class="form-control" maxlength="500" placeholder="ตอบกลับกระทู้" required></textarea>
            <br>

            <input type="submit" value ="ยืนยัน" class="btn button6 p3" style="position: sticky"></input>
        </form>
        {% endif %}
    {% else %}
        <a href="#login" style="text-decoration: none;"><h3 id=ตอบกลับกระทู้ style="text-align: center;">&#9997; กรุณา Login เพื่อเขียนรีวิว &#10071;</h3></a>
    {% endif %}
    {% endif %}
    <div>
        

    
{% endblock %}