{% extends "thread/layout.html" %} 

{% load markdown_tag %}

{% block body %}
<title>{{thread.header}}</title>

<style>
    .p2 {
        font-family: 'Noto Sans Thai', sans-serif;
        font-size: 1em;
    }
    .p3 {
        font-family: "Prompt", sans-serif;
        font-size: 0.9em;
    }
    .p4 {
        font-family: "Prompt", sans-serif;
        font-size: 1.2em;
    }
    .p5 {
        font-family: "Prompt", sans-serif;
        font-size: 1.1em;
    }
    .p6 {
        font-family: "Prompt", sans-serif;
        font-size: 0.9em;
    }
    .h3 {
    overflow: hidden;
    text-align: center;
    }
    .h3:before,
    .h3:after {
        background-color: rgb(211, 211, 211);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 100%;
    }
    .h3:before {
        right: 0.5em;
        margin-left: -125%;
    }
    .h3:after {
        left: 0.5em;
        margin-right: -50%;
    }
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Noto Sans Thai', sans-serif;
    }

</style>

<div style="margin-left: 25%; margin-right: 25%; margin-bottom: 7em; margin-top: 4em;">

    <h2><b class="p2">{{thread.header}}</b></h2>
    <b class="p5">by {{ thread.author.username }}</b>
    <b class="p3" style="float: right;">{{thread.date}} &#9203;</b>
    <br>
    <br>

    <b class="p4">{{thread.content | convert_markdown | safe }}</b>
    <h3 class="p6 h3">&#128172; <b>{{thread.number_reply}} การตอบกลับ</b></h3>
    
    {% for sub_thread in thread.reply.all %}
    <h5>{{sub_thread}}</h5>
    {{sub_thread.content | convert_markdown | safe }}
    <br>
    <hr>
    {% endfor %}

<div>


{% endblock %}